<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLIQUE!</title>

    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="main">
        <div style="display: flex;flex-direction: column;justify-content: center; padding: 20px 40px 20px 40px;border-radius: 30px; background-color: rgb(66, 18, 199);">
            {% if playerForm is not None %}
                <h1 class="title">Ranking de cliques</h1>
                <table border="2">
                    <tr>
                        <th>Player</th>
                        <th>Score</th>
                        <th>Likes</th>
                        <th>Dislikes</th>
                    </tr>
                    {% for match in matches %}
                        <tr>
                            <td>{{match.0.player_id.name}}</td>
                            <td>{{match.0.score}}</td>
                            <form method="post">
                                {% csrf_token %}
                                <select style="display: none;" name="match_id" id="matchid">
                                    <option value="{{match.0.id}}" selected></option>
                                </select>
                                <input style="display: none;" type="text" name="type" value="like">
                                <td><input class="like" type="submit" value="{{match.1}}"></td>
                            </form>
                            <form method="post">
                                {% csrf_token %}
                                <select style="display: none;" name="match_id" id="matchid">
                                    <option value="{{match.0.id}}" selected></option>
                                </select>
                                <input style="display: none;" type="text" name="type" value="dislike">
                                <td><input class="like" type="submit" value="{{match.2}}"></td>
                            </form>
                        </tr>
                    {% endfor %}                
                </table>
                <form action="" method="post">
                    {% csrf_token %}
                    {{playerForm}}
                    <button>Jogar</button>
                </form>
            {% else %}
                <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;padding: 50px 0px 50px 0px;">
                    <div class="game">
                        <h1 id="playername">{{player_name.value}}</h1>
                        <h1>
                            Cronometro: <span id="sec">10</span>:<span id="milisec">00</span>
                        </h1>
                        <h2>
                            Clicks: <span id="clicks"></span>
                        </h2>
                    </div>
                    <button onclick="clk()" class="clique"></button>
                </div>
            {% endif %}
        </div>
    </div>



    <form style="display: none;" action="save" id="saveScore" method="post">
        {% csrf_token %}
        <input id = "playerid" name="player_id"></input>
        <input id = "playerscore" name="score"></input>
    </form>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>